---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Team Boomerang">
  <main>
    <p class="text-4xl font-medium text-black">Team Boomerang</p>
    <Card name="Diego Carlino" />
  </main>
</Layout>
